---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import SectionOne from "../components/sections/sectionone.astro";
import SectionTwo from "../components/sections/sectiontwo.astro";
---

<BaseLayout>
  <Header />

<main>
  <Hero />

  <SectionOne />
  <SectionTwo />



  <section style="text-align:center;">
    <h2>Get Early Access</h2>
    <p>We’re onboarding pilot partners for 2026.</p>

</main>

  <Footer />
  
</BaseLayout>
