---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import SectionOne from "../components/sections/sectionone.astro";
import SectionTwo from "../components/sections/sectiontwo.astro";
---

<BaseLayout>
  <Header />

<main>
  <Hero />

  <SectionOne />
  <SectionTwo />



  <section style="text-align:center;">
    </br>
    <h3 style="background-color: #FFC38A;">We're onboarding pilot partners for 2026</h3>
    </br>

    <a href="mailto:info@camconiq.com" style="background-color: transparent; color: #E9560D; border: 1px solid #E9560D; padding: 10px 20px; text-decoration: none; display: inline-block; border-radius: 4px;">Get Early Access</a>
</br>

</main>

  <Footer />
  
</BaseLayout>
